---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Obvious-Info:
      - 26511-25f9fb7,f18d8a7
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      X-Opentracing:
      - '{"ot-tracer-spanid":"0e4952ca36515c0c","ot-tracer-traceid":"10d923006939611f","ot-tracer-sampled":"true"}'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Token was invalid.","code":6003}]}'
  recorded_at: Tue, 06 Dec 2016 13:45:45 GMT
recorded_with: VCR 3.0.3
