---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/publications/a3ed2f08643/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2688e127fa3308721eca3ed4d157acefc851705b87e1b7706c4a42bed752be856
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Obvious-Info:
      - 26511-25f9fb7,f18d8a7
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Tk:
      - T
      X-Opentracing:
      - '{"ot-tracer-spanid":"681c8d69743056a0","ot-tracer-traceid":"0a12f8f76f69f038","ot-tracer-sampled":"true"}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"publicationId":"a3ed2f08643","userId":"1008821ef02b8f33ad7b7c8c8c0a3153d2f954e292771b61c4769522a5097eaac","role":"editor"}]}'
  recorded_at: Tue, 06 Dec 2016 16:58:43 GMT
recorded_with: VCR 3.0.3
