---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2688e127fa3659721eca3ed4d157acefc851705b87e1b7806c4a42bed752be856
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Obvious-Info:
      - 26511-25f9fb7,f18d8a7
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Tk:
      - T
      X-Opentracing:
      - '{"ot-tracer-spanid":"3bda7432689f746f","ot-tracer-traceid":"7296ad4b4c2630c8","ot-tracer-sampled":"true"}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1008821ef02b8f33ad7b7c8c8c0a3153d2f954e292771b61c4769522a5097eaac","username":"kkirsche","name":"Kevin
        Kirsche","url":"https://medium.com/@kkirsche","imageUrl":"https://cdn-images-1.medium.com/fit/c/200/200/1*dmbNkD5D-u45r44go_cf0g.png"}}'
  recorded_at: Tue, 06 Dec 2016 13:59:04 GMT
- request:
    method: get
    uri: https://api.medium.com/v1/users/1008821ef02b8f33ad7b7c8c8c0a3153d2f954e292771b61c4769522a5097eaac/publications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2688e127fa3308721eca3ed4d157acefc851705b87e1b7706c4a42bed752be856
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Obvious-Info:
      - 26511-25f9fb7,f18d8a7
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Tk:
      - T
      X-Opentracing:
      - '{"ot-tracer-spanid":"62dce28b48901c4d","ot-tracer-traceid":"622c0a804bfb63c6","ot-tracer-sampled":"true"}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"a3ed2f08643","name":"Awesome Publication","description":"The
        single best publication on Medium.","url":"https://medium.com/awesome-publication",
        "imageUrl":"https://cdn-images-1.medium.com/fit/c/200/200/my-image.jpeg"}]}'
  recorded_at: Tue, 06 Dec 2016 13:59:05 GMT
recorded_with: VCR 3.0.3
